*{
    font-family:'Roboto';
    margin: 0%;
}
/* ****** NAVBAR ****** */
.head{
 background-color: #fff;
    width: 100%;
    height: 80px;
    justify-items: center;
    position: fixed;
    top: 0;      
    left: 0; 
    z-index: 0;  
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);         
}
.nav-bar{
    background-color: #fff;
    width: 80%;
    height: 80px;
    display: flex;
    
    
}
.swiggy-logo{
    background-color: #fff;
    height: 80px;
    width: 90px;
    display: flex;
}
.swiggy-image{
    height: 80px;
    width: 80px;
    margin-left: 10px;
}
.other-div{
    background-color:#fff;
    width: 90px; 
    padding-left: 20px;  
}
.other-div{
    font-weight: 700;
    font-size: 14px;
    align-content: center;
    justify-content: center;  
}
.arrow{
    padding-left: 10px;
}
.list{
    height: 80px;
    width: 90%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;

}
.nav-list{  
    width: 85%;
    list-style-type: none;
    display: flex; 
    justify-content:flex-end;
}
.sec-1{
    background-color: #fff;
    height: 80px;
    width: fit-content;
    justify-content:center;
    align-content: center;
    margin-left: 55px;
    font-size: 16px;
    font-weight:500 ;
}
.sec-1 a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.sec-1  a:hover{
    color: rgb(255, 89, 0);
}
/* ****** What's on your mind section ******* */
.main-sec{
    width: 1350px;
    height: 2500px;
    background-color:#fff; 
    padding-left: 170px;
    
}
.container1{
    height: 250px;
    width: 1138px;
    background-color: #fff;
    padding: 16px;
    
}
.container1 h3{
    font-weight: 800;
    margin-bottom: 30px;
}
.item-list{
    height: 184px;
    width: 100%;
    background-color: #fff;
    display: inline-flex;
}
.item{
    height: 184px;
    width: 170px;
    background-color: #fff;
    padding-left: 15px;
}
.item img{
    height: 180px;
    width: 144px;
}
.item2{
    height: 184px;
    width: 170px;
    background-color: #fff;  
}
.item2 img{
    height: 180px;
    width: 144px;
}
.line{
    height: 50px;
    width: 1170px;
    background-color: #fff;
   align-content: center;
}
/* ******Top restaurant chains in Chhindwara******* */
.container2{
    height: 350px;
    width: 1138px;
    background-color: #fff;
    padding: 16px;
}
.container2 h3{
    font-weight: 800;
    margin-bottom: 30px;
}
.resto-list{
    height: 286px;
    width: 100%;
    display: inline-flex;
    background-color: #fff;
}
.resto1{
    height: 286px;
    width: 273px;
    background-color:#fff;
    margin-right: 20px;
}
.resto1 img{
    width: 273px;
    height: 182px;
    border-radius: 20px;
}
.cont{
    height:80px ;
    width: 250px;
    background-color: #fff;
    padding: 10px 0px 0px 15px;
}
/* ******Restaurants with online food delivery in Chhindwara********* */
.heading h2{
margin-bottom: 10px;
}
.option{
    height: 44px;
    width: 1170px;
    background-color: #fff;
    display: inline-flex; 
    align-items: center;  
}
.filter{
   width: 60px;
   height: 35px;
   background-color: #fff; 
   font-size: 14px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 1px solid rgba(2, 6, 12, 0.15);
}
.sort{
   width: 85px;
   height: 35px;
   background-color: #fff; 
   font-size: 14px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 1px solid rgba(2, 6, 12, 0.15);
}
.fast{
   width: 125px;
   height: 35px;
   background-color: #fff;
   border-radius: 15px;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 1px solid rgba(2, 6, 12, 0.15);
}
.rate{
   width: 100px;
   height: 35px;
    background-color: #fff; 
    border-radius: 15px;
     font-size: 14px;
      display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 1px solid rgba(2, 6, 12, 0.15);
}
.pure{
   width: 95px;
   height: 35px;
    background-color: #fff; 
    border-radius: 15px;
     font-size: 14px;
     display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 1px solid rgba(2, 6, 12, 0.15);
}
.offers{
   width: 75px;
   height: 35px;
   background-color: #fff;
   border-radius: 15px;
    font-size: 14px;
    display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 1px solid rgba(2, 6, 12, 0.15);
}
.rs{
   width: 145px;
   height: 35px;
    background-color: #fff; 
    border-radius: 15px;
    display: flex;
   justify-content: center;
   align-items: center;
     font-size: 14px;
     margin-right: 10px;
     border: 1px solid rgba(2, 6, 12, 0.15);
}
.rs2{
   width:  138px;
   height: 35px;
    background-color: #fff; 
    border-radius: 15px;
    font-size: 14px;
    display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid rgba(2, 6, 12, 0.15);
  
}
.container3{
    height: 950px;
    width: 1170px;
    background-color: #fff;
    margin-bottom: 20px;    
}
.four{
    height: 290px;
    width: 1170px;
    background-color: #fff;   
    margin-top: 30px;
    display: flex;
    
}
.four1{
    height: 290px;
    width: 270px;
    background-color:#fff;
    
}
.four1 img{
    width: 270px;
    height: 180px;
    border-radius: 20px;
}
.cont1{
    height:90px ;
    width: 255px;
    background-color: #fff;
    padding: 10px 0px 0px 15px;
}
.container4{
    height: 280px;
    width: 1170px;
    background-color: #fff;
}
.contfour{
    background-color: #fff;
    height: 80px;
    width: 1170px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.cont4{
    height: 50px;
    width: 250px;
    background-color: #fff;
    border: 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(2, 6, 12, 0.15)
}
.cont4 p{
    color: rgb(255, 82, 0);
    font-weight: 600;
    
}
.heading1 h2{
    margin-left: 30px;
    margin-bottom: 20px;
}
/* ******* Footer  ******* */
.footer{
    height: 750px;
    width: 1520px;
    background-color: rgb(240, 240, 245);
}
.footer-logo{
    height: 130px;
    width:1520px;
    background-color: rgb(240, 240, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-logo{
    height: 120px;
    width: 1010px;    
    background-color: rgb(240, 240, 245);
    display:flex;
    justify-content: center;
    align-items: center;
}
.fot-text{
    height: 65px;
    width: 1200px;
    background-color: rgb(240, 240, 245);
    display: inline-flex;
    
    align-items: center;
}
.logo-1{
    height: 65px;
    width: 200px;
    background-color: rgb(240, 240, 245);
    margin-left: 20px;
}
.logo-1 img{
    height: 64px;
    width: 201px;
    background-color:rgb(240, 240, 245);
}
.logo-2{
    height: 65px;
    width: 200px;
    background-color: rgb(240, 240, 245);
    margin-left: 20px;
}
.logo-2 img{
    height: 64px;
    width: 201px;
    background-color: rgb(240, 240, 245);
}

.fot-cont{
    height: 592px;
     width:1520px;
     background-color: rgb(240, 240, 245);
     display: inline-flex;
     justify-content: center;
     justify-content: space-evenly;
     margin-top: 20px;
}
.fony-cont-main{
    width: 1200px;
    height:592px ;
    background-color: rgb(240, 240, 245);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.swig-image {
    background-color: rgb(240, 240, 245);
    width: 250px;
    height: 592px;
}
.swig-image img{
    width: 160px;
    height: 49px;
    margin-top: 40px;
}
.swig-image p{
    margin-top: 10px;
    font-size: 16px;
}
.company{
    height:592px;
    width: 150px;
    background-color: rgb(240, 240, 245);
}
.company ul{
    height: 455px;
    width: 150px;
    background-color:rgb(240, 240, 245) ;
    list-style-type: none; 
    margin: 40px 0px 0px 0px ;
    padding: 0px; 
}
.contact{
    height:592px ;
    width: 165px;
    background-color: rgb(240, 240, 245);
}
.contact ul{
    height: 255px;
    width: 165px;
    background-color:rgb(240, 240, 245) ;
    list-style-type: none; 
    margin: 40px 0px 0px 0px ;
    padding: 0px;
}
.city{
     height:592px ;
    width: 125px;
    background-color: rgb(240, 240, 245);
}
.city ul{
    height: 292px;
    width: 125px;
    background-color:rgb(240, 240, 245);
    list-style-type: none; 
    margin: 40px 0px 0px 0px ;
    padding: 0px;
}
.life{
    height:592px ;
    width: 145px;
    background-color: rgb(240, 240, 245);
}
.life ul{
    height: 255px;
    width: 145px;
    background-color:rgb(240, 240, 245) ;
    list-style-type: none; 
    margin: 40px 0px 0px 0px ;
    padding: 0px;
}
.fot-list{
    margin-top: 18px;
}
.Social{
    height: 255px;
    width: 145px;
    background-color:rgb(240, 240, 245) ;
    list-style-type: none; 
    margin: 40px 0px 0px 0px ;
    padding: 0px;
}
.social-link{
    height: 18px;
    width: 145px;
    background-color: rgb(240, 240, 245);
    display: inline-flex;
    justify-content: center;
    
    margin-top: 15px;
}
.soc{
    height: 18px;
    width: 16px;
    background-color: rgb(240, 240, 245);
    margin-right: 13px;
    
}
.soc img{
    height: 18px;
    width: 16px;
}