*{
    font-family:'Roboto';
    margin: 0%;
}
.head{
    height: 118px;
    width: 1536px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    height: 54px;
    width: 1228px;
    background-color: #ff5200;
    display: inline-flex;
    align-items: center;
    
}
.nav-bar img{
    height: 48px;
    width: 160px;
    margin:0px 440px 0px 0px;;
}
.swiggycorporate{
    height: 48px;
    width: 140px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 20px 0px 0px;
}
.swiggycorporate a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.partnerus{
    height: 48px;
    width: 130px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 20px 0px 0px;

}
.partnerus a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.getapp{
    height: 54px;
    width: 149px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 12px;
    margin:0px 30px 0px 0px;
}
.getapp a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.signin{
    height: 54px;
    width: 135px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.signin a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
/***** container2 *****/
.container2{
    width: 1536px;
    height: 200px;
    background-color: aqua;
    display: grid;
    justify-content: center;
    padding: 60px 0px 0px 0px;
}

.con2-text{
   height: 112px;
   width: 796px;
   background-color: #8f7bcf7e; 
}
.con2-text h1{
   font-size: 48px;
   color: #fff;
   text-align: center;
}
.cont2-text-search{
    height: 60px;
    width: 820px;
    background-color: rgb(20, 207, 144);
    display: flex;
    justify-content: space-between;
}
.cont2-select {
    height: 59px;
    width: 330px;
    background-color: rgb(6, 125, 85);
    display: inline-flex;
}
.cont2-locationlogo{
    width: 45px;
    background-color: red;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cont2-input{
    height: 58px;
    width: 235px;
}
.cont2-input input{
    height: 57px;
    width: 231px;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.cont2-dropdownlogo{
    width: 45px;
    background-color: red;
    font-size: 24px;
     display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
   
}
.cont2-search{
    height: 59px;
    width: 475px;
    background-color: rgb(202, 118, 15);
    display: flex;
    
}
.cont2-search-input {
    width: 425px;
    height: 59px;
    background-color: rgb(13, 145, 145);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.cont2-search-input input{
    height: 22px;
    width: 274px;
    font-size: 16px;  
    margin-left: 20px;
    font-weight: 500;
}

.cont2-search-searchlogo{
    height: 58px;
    width: 50px;
    background-color: rgb(232, 255, 127);
    font-size: 15px;
    color: rgba(2,6,12,0.6);;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}