*{
    font-family:'Roboto';
    margin: 0%;
}
.head{
    height: 118px;
    width: 1536px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    height: 54px;
    width: 1228px;
    background-color: #ff5200;
    display: inline-flex;
    align-items: center;
    
}
.nav-bar img{
    height: 48px;
    width: 160px;
    margin:0px 440px 0px 0px;;
}
.swiggycorporate{
    height: 48px;
    width: 140px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 20px 0px 0px;
}
.swiggycorporate a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.partnerus{
    height: 48px;
    width: 130px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px 20px 0px 0px;

}
.partnerus a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.getapp{
    height: 54px;
    width: 149px;
    background-color: #ff5200;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 12px;
    margin:0px 30px 0px 0px;
}
.getapp a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
.signin{
    height: 54px;
    width: 135px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.signin a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
/***** container2 *****/
.container2{
    width: 1536px;
    height: 200px;
    background-color: aqua;
    display: grid;
    justify-content: center;
    margin: 60px 0px 0px 0px;
}
.con2-text{
   height: 112px;
   width: 796px;
   background-color: #8f7bcf7e; 
}
.con2-text h1{
   font-size: 48px;
   color: #fff;
   text-align: center;
}
.cont2-select {
    height: 50px;
    width: 100px;
    background-color: aquamarine;
}
.cont2-select input{
    height: 50px;
    width: 100px;
    background-color: aquamarine;
}